body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ol{
    font-size: 28px;
}

div{
    width: fit-content;
    padding: 20px;
    border-radius: 25px;
    background-color: lightgrey;
}
/* this is a change that i have done. */